body {
  font-family: 'Bebas Neue', cursive;
  background-color: white;
  margin: 0;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

.item a:hover{
  border-bottom: 5px solid black;
}

.menu{
  display: grid;
  position: fixed;
  top:0;
  left:0px;
  right:0px;
  background-color: white;

  /* this is based on having 3 top level items */
  grid-template-columns: 1fr 1fr 1fr 4fr;
  padding: 20px;
  padding-bottom: 25px;
  border-bottom: 25px solid #FF1919;
  z-index: 100;
}

.sub_menu{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  background-color: white;
  /* this hides the sub menu by default */
  display: none;
  z-index: 100;
}

.item:hover .sub_menu{
  /* this shows it when you mouse over it */
  display: block;
}

.sub_item{
  padding: 5px;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: .7em;
}

.sub_item:hover{
  background-color: #0DFFDA;
}

.logo{
    position: fixed;
    z-index: 150;
    width: 40vw;
    height: 280px;
    right: 30px;
    top: -105px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}












.thing{
    position: relative;
    margin: auto;
    top: 50px;
    max-width: 1000px;
}

.my-slider{
    position: relative;
    margin: auto;
    top: 100px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.sliderimg{
    height: 600px;
    width: 800px;
}

.sliderimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tns-outer{
  position: relative;
  margin-bottom: 25px;
}

.tns-controls{
  position: absolute;
  top:50%;
  left: 0%;
  right: 0%;
  z-index: 50;
  outline:none;
}

.tns-controls button:nth-last-of-type(1){
  position: absolute;
  right: 0;
}

button{
  padding: 5px 10px;
  font-size: 1.5rem;
  background-color: white;
  border: 3px solid black;
  
}

.tns-nav-active{
  background-color: #0DFFDA;
}
button:hover {
  background-color: #0DFFDA;
}

.tns-nav{
  position: absolute;
  bottom: -25px;
  z-index: 50;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}









.gallery_menu{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    top: 100px;
    grid-gap: 30px;
}







.foodimg{
    margin: auto;
    position: relative;
    width: 30vw;
    height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FF1919;
}

.foodimg:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.shadow {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer{
  margin: auto;
  padding: 0;
  background-color: #72FF26;
  height: 170px;
  margin-top: 200px;
}

.tab{
  background-color: #56B324;
  height: 70px;
  position: relative;
  top: 60px;
}

.about{
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 2.5em;
  text-align: center;
  padding-top: 10px;
}


.title{
  font-size: 3em;
  position: relative;
  margin: auto;
  text-align: center;
  top: 0px;
}

.aboutme{

  position: relative;
  top: 150px;
  left: 5vw;
  max-width: 40vw;
}

h1{
  font-size: 6em;
  margin-bottom: -40px;
  line-height: 100px;
}

h2{
  font-size: 4em;
  margin-bottom: -20px;
}

h3{
  font-size: 2.5em;
  margin-bottom: -10px;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
}

.calories{
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 1vw;
  font-style: italic;
}

.aboutimg{
  margin: auto;
  height: 800px;
  width: 70vw;
  margin-bottom: 100px;
}

.aboutimg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.line{
  background-color: #0DFFDA;
  height: 30px;
  width: 70vw;
  position: relative;
  top: 200px;
}

.linetwo{
  background-color: #00B398;
  height: 30px;
  width: 50vw;
  position: relative;
  top: 200px;
}


ul{
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
}

ol{
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
}

li{
  margin: 5px;
}

.recipegrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: 200px;
  left: 5vw;
  max-width: 80vw;
  grid-gap: 20px;
}

.instructions{
  margin-top: 125px;
}

#pleasework{
  font-size: 1em;
}

#pleasework2{
  font-size: 1em;
}

#pleasework3{
  font-size: 1em;
}























@media screen and (max-width: 1024px) and (min-width: 768px){

  .aboutme{
    max-width: 50vw;
  }
  
  .aboutimg{
    height: 500px;
    width: 80vw;
    margin-bottom: 80px;
  }
  .calories{
    font-size: 1.1em;
  }
  
  li{
    font-size: .8em;
  }
  h1{
    line-height: 100px;
    margin-bottom: -20px;
  }
  h2{
    margin-bottom: -10px;
  }
  .instructions{
    margin-top: 145px;
  }
}







@media screen and (max-width: 767px){

  .gallery_menu{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    top: 100px;
    grid-gap: 20px;
  }

  .foodimg{
    margin: auto;
    position: relative;
    width: 45vw;
    height: 300px;
  }
  .text{
    font-size: 2.5em;
    line-height: 40px;
    text-align: center;
  }
  .item{
    font-size: .9em;
    padding-right: 30px;
  }

  .aboutme{
    max-width: 70vw;
    margin-top: -80px;
  }
  
  .aboutimg{
    height: 400px;
    width: 80vw;
    margin-bottom: 40px;
  }
  p{
    margin-top: 40px;
    font-size: 1.4em;
  }
  h1{
    line-height: 90px;
  }
  .calories{
    font-size: 1.1em;
  }
  li{
    font-size: .8em;
  }
  .recipegrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    top: 200px;
    left: 5vw;
    max-width: 80vw;
    grid-gap: 20px;
  }
  .instructions{
    margin-top: -70px;
  }
}